<!DOCTYPE html>
<html lang="en">
<head>
    <!-- Head information -->
    <%- include('../Partials/head'); %> 
    
    <!------------- Stylesheet ------------>
    <!-- Navbar -->
    <link href="/Public/Css/Partials/header-logged-user.css" rel="stylesheet" /> 
    <!-- Footer -->
    <link href="/Public/Css/Partials/footer.css" rel="stylesheet" /> 
    <!-- Page -->
    <link href="/Public/Css/Pages/attemp.css" rel="stylesheet" /> 

</head>
<body>

    <header>
        <!-- Include Navbar -->
        <%- include('../partials/header-logged-user'); %> 
    </header> 

    <!-- Main content -->
    <div class="container main d-flex flex-column align-items-center justify-content-evenly">
        <!-- Attemp Form -->
        <form class="col-9" method="POST" action="/attemp">
            <!-- Text area -->
            <div class="form-group">
                <label class="mb-2" for="hashes">Enter hashes separated by new lines : </label>
                <% var placeholder = 'hash 1 \nhash 2 \nhash 3 \n...'; %> 
                <textarea class="form-control" 
                          name="hashes" 
                          id="hashes" 
                          rows="15" 
                          placeholder="<%- placeholder %>"></textarea>
            </div>
            <!-- Submit button -->
            <button class="btn btn-primary col-6 mt-4">Submit attemp</button>
        </form>
        <!-- Result of the attemp -->
        <% if (attempScore) { %> 
            <p class="col-2 text-white attemp-score text-center">Attemp Score : <span> <%= attempScore %> </span>  </p>
        <% } %> 
    </div>

    <!-- Include footer -->
    <%- include('../partials/footer'); %> 
    
</body>
</html>